<style>

        .gt-ico-text, .gt-btn-text {
            color: #000000;
        }

        .gt-container .gt-btn-login {
            background-color: #10D07A;
            border: 1px solid #10D07A;
        }

        .gt-container .gt-btn-public {
            background-color: #10D07A;
            border: 1px solid #10D07A;
        }

        .gt-container .gt-btn-public:hover {
            background-color: #25cdd0;
            border: 1px solid #10D07A;
        }

        .gt-container .gt-btn {
            border: 1px solid #10D07A;
        }

        .gt-container a {
            color: #10D07A;
        }

        .gt-container .gt-btn-preview:hover {
            border: 1px solid #10D07A;
        }

        .gt-container .gt-svg svg {
            fill: #10D07A;
        }

        .gt-container .gt-comment-username {
            color: #10D07A;
        }
        
        gt-container .gt-popup .gt-action.is--active:before {
            background: #10D07A;
        }


</style>
