<!-- Link Gitalk 的支持文件  -->
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <div id="gitalk-container"></div>     
    <script type="text/javascript">
        var gitalk = new Gitalk({
        // gitalk的主要参数
            clientID: '26f8df92e2459d56011f',
            clientSecret: '39a2a849149dabbbe051da4155217c9bb1f08e12',
            repo: 'BlogRemark',
            owner: 'realburt41',
            admin: ['realburt41'],
        });
        gitalk.render('gitalk-container');
    </script> 
    <!-- Gitalk end -->

